/**
 * Style definitions for the modals.
 */

#modalContainer {
  z-index: 99999;
  position: absolute;
  opacity: 0;
}
#modal-blanket {
  position: absolute;
  left: 0;
  width: 100%;
  opacity: 0.5;
  background-color: #000;
  z-index: 5000;
}
.modal {
  border: 2px solid #111;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.5);
}

#modalCloseButton {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 32px;
  height: 32px;
  text-decoration: none;
}
