/**
 * Style definitions for the modals.
 */

#modalContainer {
  z-index: 99999;
  position: absolute;
  opacity: 0;
}
#modal-blanket {
  position: absolute;
  left: 0;
  width: 100%;
  opacity: 0.5;
  background-color: #000;
  z-index: 5000;
}
.modal {
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.5);
  cursor: move;
}

#modalCloseButton {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 13px;
  height: 13px;
  text-decoration: none;
  background: url('../img/x.png') no-repeat top left;
}
