html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%; 
}
#workspace {
  margin: auto;
  min-height: 100%;
  width: 960px;
  background: #BABBB5;
  position: relative;
}
/* clearfix group */ 
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}
body {
  font-family: 'DejaVuSansMonoBook';
  font-size: 1.5em;
}
#main {
  min-height: 100%;
  width: 960px;
}
.tiles {
  cursor: move;
  float:left;
  background: #D5DCE2;
  border-left: 2px solid white;
  border-top:  2px solid white;
  border-bottom: 3px solid grey;
  border-right: 2px solid grey;
  -webkit-box-shadow: 4px 4px 3px #888;
  box-shadow: 4px 4px 3px #888;
  -webkit-transform:rotate(2deg);
}
.ui-draggable-dragging {
  background: #5E7179;
  -webkit-box-shadow: 8px 8px 6px #888;
  box-shadow: 8px 8px 6px #888;
}
.tile span {
  margin: .3em;
}
#drawers-container {
  height: 300px;
  width: 100%;
}
.drawer {
  background: pink;
  height: 200px;
  width: 100%;
}
#drawer-handles {
  list-style: none;
  margin: 5px;
}
.drawer-handle {
  display: inline;
  cursor: pointer;
  background: red;
  padding: 5px 9px;
  border-bottom: 3px solid;
  border-left: 3px solid;
  border-right: 2px solid;
  margin-right: 10px;
}

#fridge {
  width: 560px;
  margin: 20px 200px;
  height: 300px;
  position: relative;
}
.brushed-metal {
  background: #cedce7; /* Old browsers */
  background: -moz-linear-gradient(top,  #cedce7 0%, #596a72 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cedce7), color-stop(100%,#596a72)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #cedce7 0%,#596a72 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #cedce7 0%,#596a72 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #cedce7 0%,#596a72 100%); /* IE10+ */
  background: linear-gradient(top,  #cedce7 0%,#596a72 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */
}
#shareModal {
}
#poemDialog {
  margin: 10px 20px;
  height: 200px;
}
#shareLink {
  cursor: pointer;
}
footer {
  text-align: center;
}
