html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
::selection,
::-moz-selection {
  background: #66B360;
  color: #ffffff;
}
#turn-phone {
  display:none;
}
#workspace {
  background: #65B561;
}

/* clearfix group */
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

body {
  font-family: 'DejaVuSansMonoBook';
  font-size: 1.5em;
  color: #4d4d4d;
}

.tiles {
  cursor: move;
  float:left;
  background: white;
  margin: 4px 0 0 4px;
}
.ui-draggable-dragging {
  -webkit-box-shadow: 8px 8px 6px #888;
  box-shadow: 8px 8px 6px #888;
}
.tile span {
  margin: .3em;
}
#drawers-container {
  background: #DFD091;
}
#drawers {
}
.drawer {
  background: #DFD091;
}
#drawer-handles {
  margin: 0px;
  padding: 0px;
  list-style: none;
  color: #ffffff;
  background: #DFD091;
}
.drawer-handle {
  display: inline;
  cursor: pointer;
  background: #735522;
}
.open-handle {
  background: #66B360;
}
#fridge {
  width: 560px;
  margin: 20px 200px;
  height: 300px;
  position: relative;
  background: #8FBEDE;
}

#shareModal,
#messageModal {
  font-size: .75em;
  width: 350px;
  padding: 20px;
}
#poemDialog {
  margin: 10px 20px;
  height: 200px;
}
footer {
  text-align: center;
}
#responses-handle {
  cursor: pointer;
}
#responses {
  max-height: 100px;
  overflow-y: scroll;
}
#shareLink {
  cursor: pointer;
}
#login,
#loginModal,
#logout {
  cursor: pointer;
}
