html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
::selection,
::-moz-selection {
  background: #66B360;
  color: #ffffff;
}
#workspace {
  margin: auto;
  min-height: 100%;
  width: 960px;
  background: #65B561;
  position: relative;
  box-shadow: 0px 7px 24px rgba(0, 0, 0, 0.80);
  -moz-box-shadow: 0px 7px 24px rgba(0, 0, 0, 0.80);
  -webkit-box-shadow: 0px 7px 24px rgba(0, 0, 0, 0.80);
}
/* clearfix group */
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}
body {
  font-family: 'DejaVuSansMonoBook';
  font-size: 1.5em;
  color: #4d4d4d;
}
#main {
  min-height: 100%;
  width: 960px;
}
.tiles {
  cursor: move;
  float:left;
  background: white;
  border-left: 2px solid #D5DCE2;
  border-top:  2px solid #D5DCE2;
  border-bottom: 3px solid grey;
  border-right: 2px solid grey;
  -webkit-box-shadow: 4px 4px 3px #888;
  box-shadow: 4px 4px 3px #888;
  -webkit-transform:rotate(2deg);
}
.ui-draggable-dragging {
  -webkit-box-shadow: 8px 8px 6px #888;
  box-shadow: 8px 8px 6px #888;
}
.tile span {
  margin: .3em;
}
#drawers-container {
  height: 300px;
  width: 100%;
}
#drawers {
  box-shadow: 0px 7px 24px rgba(0, 0, 0, 0.80);
  -moz-box-shadow: 0px 7px 24px rgba(0, 0, 0, 0.80);
  -webkit-box-shadow: 0px 7px 24px rgba(0, 0, 0, 0.80);
}
.drawer {
  background: #DFD091;
  height: 200px;
  width: 946px;
  padding: 7px;
}
#drawer-handles {
  list-style: none;
  margin: 5px;
  color: #ffffff;
}
.drawer-handle {
  display: inline;
  cursor: pointer;
  background: #735522;
  padding: 5px 9px;
  border-bottom: 3px solid #DFD091;
  border-left: 3px solid #DFD091;
  border-right: 2px solid #DFD091;
  margin-right: 10px;
  box-shadow: 0px 17px 24px rgba(0, 0, 0, 0.80);
  -moz-box-shadow: 0px 17px 24px rgba(0, 0, 0, 0.80);
  -webkit-box-shadow: 0px 17px 24px rgba(0, 0, 0, 0.80);

}

#fridge {
  width: 560px;
  margin: 20px 200px;
  height: 300px;
  position: relative;
  background: #8FBEDE;
  box-shadow: 7px 7px 24px rgba(0, 0, 0, 0.80);
  -moz-box-shadow: 7px 7px 24px rgba(0, 0, 0, 0.80);
  -webkit-box-shadow: 7px 7px 24px rgba(0, 0, 0, 0.80);
}
#shareModal {
}
#messageModal {
  width: 350px;
  padding: 20px;
}
#poemDialog {
  margin: 10px 20px;
  height: 200px;
}
#shareLink {
  cursor: pointer;
}
footer {
  text-align: center;
}
