/* general styles that don't change based on the viewport */
@font-face {
  font-family: 'Bryant';
    src: url('webfonts/BryantWebMedium.eot'); /* IE9 Compat Modes */
    src: url('webfonts/BryantWebMedium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('webfonts/BryantWebMedium.woff') format('woff'), /* Modern Browsers */
    url('webfonts/BryantWebMedium.ttf')  format('truetype'); /* Safari, Android, iOS */
}

body {
  font-family: 'Bryant', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1.5em;
  color: #4d4d4d;
}

html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: url('../img/wallpaper-background.png');
}
::selection,
::-moz-selection {
  background: #66B360;
  color: #ffffff;
}

menu {
  background: #EEBD54;
  margin: 0;
  padding: 0 0 0 .5em;
}
menu h1 {
  font-size: 1em;
  float: left;
  margin: 0;
  background: url('../img/logo-4k.png') no-repeat left center;
  padding-left: 47px;
  height: 40px;
  line-height: 1.7em;
}
menu ul {
  margin: 0 10px 0 0;
  padding: 0;
  list-style: none;
}
menu ul li {
  padding: 2px 0 0 2px;
  float: right;
}
menu ul li.logged-in {
  padding-top: 0;
}
.menu-item {
  cursor: pointer;
}

#turn-phone {
  display:none;
}
#workspace-inner {
  width:100%;
  margin:auto;
  min-height: 100%;
  background: #b8e7c7; /* Old browsers */
  background: -moz-linear-gradient(left,  #b8e7c7 0%, #abcaae 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#b8e7c7), color-stop(100%,#abcaae)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #b8e7c7 0%,#abcaae 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #b8e7c7 0%,#abcaae 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #b8e7c7 0%,#abcaae 100%); /* IE10+ */
  background: linear-gradient(left,  #b8e7c7 0%,#abcaae 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8e7c7', endColorstr='#abcaae',GradientType=1 ); /* IE6-9 */
}

/* clearfix group */
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

.tiles {
  cursor: move;
  float:left;
  background: white;
  padding: 2px 6px 2px 6px;
  -webkit-box-shadow: 2px 2px 0px 0px #666;
  -moz-box-shadow: 2px 2px 0px 0px #666;
  box-shadow: 2px 2px 0px 0px #666;
}
.drawer .tiles {
  margin: 4px 0 0 4px;
}
.ui-draggable-dragging {
  -webkit-box-shadow: 8px 8px 6px #888;
  box-shadow: 8px 8px 6px #888;
}
.tile span {
  margin: .3em;
}
#drawer-container {
  overflow: auto;
}
#drawer-handles {
  margin: 0px;
  list-style: none;
  padding-left:10%;
  padding: 10px;
  min-width: 700px;
  overflow: auto;
}
.drawer-handle {
  padding: 0px 10px 0px 10px;
  margin: 0px .2em 0px 0px;
  display: inline;
  cursor:pointer;
  float: left;
}
.open-handle {
  color: black;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-color: #e5bb53;
}
#fridge {
  margin: 20px 200px;
  position: relative;
  background: #9AC3A5;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
#fourk-logo {
  display: none;
  position: absolute;
  top: 247px;
  left: 681px;
  overflow: hidden;
}
#shareModal,
#messageModal {
  font-size: .75em;
  padding: 20px;
  min-width: 350px;
  max-height: 200px;
  max-width: 85%;
  overflow-y: auto;
}
#poemDialog {
  margin: 10px 20px;
  height: 200px;
}
footer {
  text-align: center;
}
#responses-handle {
  cursor: pointer;
}
#responses {
  max-height: 200px;
  overflow-y: scroll;
}
#shareLink,
#shareLinkMenu {
  cursor: pointer;
}
#shareLinkWrapper {
  padding: 20px 0 20px 0;
}
#shareLink {
  font-family: Bryant, arial, san-serif;
  color: #ffffff;
  font-size: 27px;
  padding: 10px;
  text-decoration: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  text-shadow: 1px 1px 3px #666666;
  border: solid #CE9E32 1px;
  background: #E5BB53;
}
#shareLink:hover {
  background: #CE9E32;
}
#avatar {
  width: 42px;
  height: 42px;
}
#login,
#loginModal,
#logout {
  cursor: pointer;
}

#drawers-container {
-moz-transition: all 1s ease-in-out;
-webkit-transition: all 1s ease-in-out;
-o-transition: all 1s ease-in-out;
transition: all 1s ease-in-out;

}
/* Anything less than 600px wide will default to these settings */
#main {
  min-height: 100%;
  width: 100%;
}
#workspace {
  min-height: 100%;
  width: 100%;
  position: relative;
}

#fridge {
  width: 480px;
  height: 310px;
  position: relative;
  margin: 0px;
}
menu h1 {
  display: none;
}
#word-bar {
  background: #EEBD54;
  width: 100%;
  z-index: 100;
  position: absolute;
  height: 44px;
  background: #EEBD54 url('../img/logo-4k.png') no-repeat left center;
  text-align: center;
}
#word-bar-handle {
  margin: auto;
  cursor: pointer;
  text-align: center;
}
#word-bar menu {
  float: right;
}
#drawers-container {
  z-index: 300;
  width: 100%;
  position: absolute;
}
#drawers-container.down {
  top: 0px;
  background: #9AC3A5;
  height: 100%;
}
.drawer {
  width: 100%;
  overflow: auto;
}
.tiles {
 font-size: .9em;
}
#drawer-handles {
  font-size: .7em;
  padding: 0;
}
footer {
  display: none;
}
/* For phones in portrait we want display a message.*/
@media only screen and (max-width: 599px) and (orientation:portrait) {
  #turn-phone {
    height: 100%;
    z-index: 10000;
    position: absolute;
    display: block;
    background: #9AC3A5;
    width: 100%;
  }
  #turn-phone span {
    margin: 1em;
    display: block;
  }
  #workspace {
    display: none;
  }
}
/* Tablets with a 600px width (in portrait mode) */
@media only screen and (min-width: 600px) and (orientation:portrait) {
  #main {
    min-height: 100%;
    width: 600px;
  }
  menu h1 {
    display: block;
  }
  #word-bar {
    display:none;
  }
  #workspace {
    min-height: 100%;
    width: 100%;
    position: relative;
    height: 100%;
  }
  #fridge {
    width: 600px;
    margin: 20px auto;
    height: 387px;
    position: relative;
  }

  #fourk-logo {
    display: block;
    left: 495px;
  }
  #drawers-container {
    position: relative;
    top:0px;
    overflow: visible;
  }
  .drawer {
    height: 200px;
    width: 100%;
    overflow: visible;
  }
  footer {
    display: block;
  }
}

/* Tablets with a 768 with (in portrait mode) */
@media only screen and (min-width: 768px) {
  #main {
    min-height: 100%;
    width: 100%;
  }
  #drawer-handles {
    line-height: 1.4em;
    font-size: 1em;
    padding: .2em 0 .2em .2em;
  }
  #workspace {
    min-height: 100%;
    width: 100%;
    position: relative;
    height: 100%;
  }
  #fridge {
    width: 600px;
    height: 387px;
    position: relative;
    margin: 20px auto;
  }
  .drawer {
    height: 200px;
    width: 100%;
  }
  footer {
    display: block;
  }
}
/* for devices  in landscape and smaller than 1024 wide */
@media only screen and (min-width:481px) and (max-width:1023px) and (orientation:landscape) {
  #workspace {
    width: 100%;
    height: 100%;
  }
  #fourk-logo {
    display:none;
  }
  #word-bar {
    text-align: center;
    width: 100%;
    display: block;
    z-index: 100;
  }
  footer {
   display: none;
  }
}
/* for devices in portrait with a screen size wider than 600 */
@media only screen and (min-width:600px) and (orientation:portrait) {
}
/* 1024px+ for Desktop, Laptop, or Tablet (in landscape mode) */
@media only screen and (min-width: 1024px) {
  #drawers-container {
    z-index: 1;
    position: relative;
    top: 0px;
    background: none;
    height: 300px;
    width: 100%;
    overflow: visible;
  }
  #drawers-container.down {
    background: none;
  }
  #main {
    min-height: 100%;
    width: 960px;
  }
  menu h1 {
   display: block;
  }
  #word-bar {
    display: none;
  }
  #workspace {
    margin: auto;
    min-height: 100%;
    width: 960px;
    background: url(../img/fridge-sides.png);
    background-size: auto auto;
    position: relative;
    height: auto;
  }
  #workspace-inner {
    width:867px;
  }
  #fridge {
    width: 600px;
    margin: 20px 180px;
    height: 387px;
    position: relative;
    margin: 0px auto;
  }
  #drawer-handles {
    line-height: 1.4em;
    font-size: 1em;
    padding: 10px;
  }
  #fourk-logo {
    display: block;
  }
  .drawer {
    height: 200px;
    width: 100%;
    overflow: visible;
  }
  #fridge-handle {
    float: left;
    margin: -90px 0 0 40px;
    width: 58px;
    height: 659px;
    background: url(../img/handle.png) no-repeat right top;
    padding-bottom: 20px;
  }
  #auth {
    padding-bottom: 100px; 
  }
}

