/* general styles that don't change based on the viewport */
#drawers-container {
-moz-transition: all 1s ease-in-out;
-webkit-transition: all 1s ease-in-out;
-o-transition: all 1s ease-in-out;
transition: all 1s ease-in-out;

}
/* Anything less than 600px wide will default to these settings */
#main {
  min-height: 100%;
  width: 100%;
}
#workspace {
  min-height: 100%;
  width: 100%;
  background: #65B561;
  position: relative;
}

#fridge {
  width: 480px;
  height: 310px;
  position: relative;
  margin: 0px;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
#word-bar {
  text-align: center;
  background: grey;
  width: 100%;
  z-index: 100;
}
#drawers-container {
  width: 100%;
  position: absolute;
  top: -320px;
}
#drawers-container.down {
  top: 0px;
}
#drawers {
  height: 287px;
}
.drawer {
  background: #DFD091;
  height: 200px;
  width: 100%;
  padding: 7px;
}
#drawer-handles {

}
footer {
  display: none;
}
/* For phones in portrait we want display a message.*/
@media only screen and (max-width: 599px) and (orientation:portrait) {
  #turn-phone {
    height: 100%;
    z-index: 10000;
    position: absolute;
    display: block;
    background: pink;
    width: 100%;
  }
  #workspace {
    display: none;
  }
}
/* Tablets with a 600px width (in portrait mode) */
@media only screen and (min-width: 600px) and (orientation:portrait) {
  #main {
    min-height: 100%;
    width: 600px;
  }
  #word-bar {
    display:none;
  }
  #workspace {
    min-height: 100%;
    width: 600px;
    background: #65B561;
    position: relative;
  }

  #fridge {
    width: 600px;
    margin: 20px 0px;
    height: 300px;
    position: relative;
  }

  #drawers-container {
    position: relative;
    top:0px;
  }
  .drawer {
    background: #DFD091;
    height: 200px;
    width: 586px;
    padding: 7px;
  }
}

/* Tablets with a 768 with (in portrait mode) */
@media only screen and (min-width: 768px) {
  #main {
    min-height: 100%;
    width: 100%;
  }

  #workspace {
    min-height: 100%;
    width: 100%;
    background: #65B561;
    position: relative;
  }

  #fridge {
    width: 600px;
    margin: 20px 84px;
    height: 300px;
    position: relative;
  }
  #drawers {
  }
  .drawer {
    background: #DFD091;
    height: 200px;
    width: 100%;
    padding: 7px;
  }
}
/* for devices  in landscape and smaller than 1024 wide */
@media only screen and (min-width:481px) and (max-width:1023px) and (orientation:landscape) {
  #workspace {
    background:blue;
    width: 100%;
  }

  #word-bar {
    text-align: center;
    background: grey;
    width: 100%;
    display: block;
    z-index: 100;
  }
}
/* for devices in portrait with a screen size wider than 600 */
@media only screen and (min-width:600px) and (orientation:portrait) {
}
/* 1024px+ for Desktop, Laptop, or Tablet (in landscape mode) */
@media only screen and (min-width: 1024px) {
  #drawers-container {
    position: relative;
    top: 0px;
  }
  #main {
    min-height: 100%;
    width: 960px;
  }
  #word-bar {
    display: none;
  }
  #workspace {
    margin: auto;
    min-height: 100%;
    width: 960px;
    background: #65B561;
    position: relative;
    box-shadow: 0px 7px 24px rgba(0, 0, 0, 0.80);
    -moz-box-shadow: 0px 7px 24px rgba(0, 0, 0, 0.80);
    -webkit-box-shadow: 0px 7px 24px rgba(0, 0, 0, 0.80);
  }

  #fridge {
    width: 600px;
    margin: 20px 180px;
    height: 300px;
    position: relative;
  }

  #drawers-container {
    height: 300px;
    width: 100%;
  }
  .drawer {
    background: #DFD091;
    height: 200px;
    width: 946px;
    padding: 7px;
  }       
}
