[submodule "js/libs/touch"]
	path = js/libs/touch
	url = https://github.com/manifestinteractive/touch.git
[submodule "js/libs/jquery-ui-touch-punch"]
	path = js/libs/jquery-ui-touch-punch
	url = https://github.com/furf/jquery-ui-touch-punch.git
