<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">

  <title>Drupal Poetry | Four Kitchens</title>
  <meta name="description" content="Responsive Magnetic Poetry app for Drupal.">
  <meta name="author" content="Four Kitchens">

  <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=0;
  minimum-scale=1.0; maximum-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <!-- humans.txt -->
  <link type="text/plain" rel="author" href="humans.txt" />

  <!-- CSS concatenated and minified via build script-->
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/myStyle.css">
  <link rel="stylesheet" href="css/modal.css">
  <!-- end CSS-->

  <script src="js/libs/modernizr-2.5.3.min.js"></script>
</head>

<body>
  <menu>
    <h1>Drupal Poetry</h1>
    <ul id="menu" class="group">
      <li id="login-menu" class="menu-item" title="Login">Login</li>
      <li id="new-poem" class="menu-item" title="New"><a href="/magpo/"><img src="img/icon-create-new.png" alt="New" /></a></li>
      <li id="shareLinkMenu" class="menu-item" title="Share"><img src="img/icon-share.png" alt="Share" /></li>
      <li id="responses-handle" style="display:none" class="menu-item" title="Responses"><img src="img/icon-responses.png" alt="Responses" /></li>
    </ul>
  </menu>
  <div id="workspace">
    <div id="workspace-inner">
      <div id="drawers-container">
        <div id="drawer-container"><ul id="drawer-handles"></ul></div>
        <div id="drawers" role="main" class="group"></div>
        <div id="word-bar"><span id="word-bar-handle">^ words ^</span></div>
      </div>
      <div id="fridge-handle"></div>
      <div id="fridge" class="brushed-metal"></div>
      <div id="fourk-logo"><a href="http://www.fourkitchens.com"><img src="/magpo/img/magnet-4K.png" /></a></div>
      <footer>
        <div id="shareLinkWrapper"><span id="shareLink"></span></div>
        <div id="auth"></div>
      </footer>
    </div> <!--! end of #workspace-inner -->
  </div> <!--! end of #workspace -->

  <div id="listings">
    <div class="listing">
      Turn your phone to create/edit your poem.
    </div>
  </div>
  <!-- Templates -->
  <script type="text/template" id="twitter-link-template">
    <div>
      <a href="https://twitter.com/share" class="twitter-share-button" id="twitterLink" data-related="<%= twitter.related %>" data-url="<%= twitter.url %>" data-lang="en" data-size="large" data-count="none" data-text="<%= string %> #drupalpoetry">Tweet</a>
    </div>
  </script>

  <script type="text/template" id="share-modal-template">
    <div id="shareModal">
      <span>Poem Saved!</span>
      <a id="shareURL" href="<%= url %>">Permalink</a>
      <div id="tweetLinkContainer"><%= twitterLink %></div>
      <div id="loginInfo" style="display:none">
        <span>
          <img id="loginModal" src="//si0.twimg.com/images/dev/buttons/sign-in-with-twitter-d.png" alt="Sign in with Twitter" /> to
        </span>
        <ul>
          <li>edit your poem later</li>
          <li>let other people know that you made this one</li>
        </ul>
      </div>
    </div>
  </script>

  <script type="text/template" id="message-modal-template">
    <div id="messageModal"><%= message %></div>
  </script>

  <script type="text/template" id="menu-response-template">
    <a href="<%= parentLink %>" alt="In response to">&laquo; In response to</a>
  </script>

  <script type="text/template" id="response-template">
    <div id="response-<%= id %>" class="response">
     <span class="response-author"><%= author %>:</span>
     <a href="#<%= id %>" class="response-link"><%= poem %></a>
    </div>
  </script>

  <script type="text/template" id="auth-template">
    <img id="login" src="//si0.twimg.com/images/dev/buttons/sign-in-with-twitter-d.png" alt="Sign in with Twitter" />
    <span id="howdy" style="display:none">Howdy @<%= user %>!</span>
    <span id="logout" style="display:none">Logout</span>
  </script>

  <script type="text/template" id="avatar-template">
    <img id="avatar" src="http://api.twitter.com/1/users/profile_image?screen_name=<%= user %>" alt="Logout" />
  </script>

  <script type="text/template" id="listing-template">
    <div class="listing" data-id="<%= id %>">
      <div class="meta">
        <span class="author"><%= author %></span>
        <span class="time"><%= time %></span>
      </div>
      <div class="listing-poem"><%= poem %></div>
    </div>
  </script>

  <script type="text/template" id="loading-template">
    <div id="loading-listings">
      Loading more...
    </div>
  </script>

  <script type="text/template" id="info-template">
    <div id="listing-info">Turn phone to view/edit poem.</div>
  </script>

  <!-- end of templates -->

  <!-- scripts concatenated and minified via ant build script-->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script>
  <script type="text/javascript" src="js/mylibs/jquery-ui-1.8.18.custom.min.js"></script>
  <script type="text/javascript" src="js/mylibs/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
  <script src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
  <script src="js/mylibs/moment.min.js"></script>
  <script src="js/mylibs/underscore.js"></script>
  <script src="js/mylibs/backbone.js"></script>
  <script src="js/mylibs/Backbone.ModalDialog.js" type="text/javascript"></script>
  <script src="js/plugins.js"></script>
  <script src="js/models/word.js"></script>
  <script src="js/models/poem.js"></script>
  <script src="js/mylibs/breakpoints.js"></script>
  <script src="js/mylibs/models.js"></script>
  <script src="js/mylibs/collections.js"></script>
  <script src="js/magpo.js"></script>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  <script>
    (function($) {
      var loaded = false;
      $(window).load(function() {
        loaded = true;
        if (typeof window.MagPo.app !== 'undefined') {
          window.MagPo.app.start();
        }
      });
      if (typeof window.MagPo === 'undefined') {
        window.MagPo = { };
      }
      $.ajax({
        url: 'json',
        success: function(drawers) {
          window.MagPo.app = new window.MagPo.class(drawers);
          if (loaded) {
            window.MagPo.app.start();
          }
        },
        error: function(jqXHR, textStatus, errorThrown) {
          var drawers = [
            {id: 2, name:'Drupal', words:
              [
                { id: 15, string: '.install', vid: 2},
                { id: 6, string: 'devel', vid: 2}
              ]
            },
            {id: 3, name:'verbs', words:
              [
                { id: 15, string: '.install', vid: 2}
              ]
            }
          ];
          window.MagPo.app = new window.MagPo.class(drawers);
          console.error(errorThrown);
          var dialog = new window.MessageDialogView({
            message: 'Uh oh! There was a problem loading! Try again later.'
          });
          dialog.render().showModal({});
        },
      });
    })(jQuery);
  </script>
  <!-- end scripts-->
  <script>
    var _gaq=[['_setAccount','UA-559851-11'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>


  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->

<!--

         .:77777777777777777777777777777777777777777777777777777777777777777777777777..
        .77777777777777777777777777777777777777777777777777777777777777777777777777777:.
        777777777777777777777777777777^777777777777777777777777777777777777777777777777?
        77777777777777777777777777777..77777777777777777777777/.......77777777777777777?
        777777777777777777777777777,...77777777777777777777...........77777777777777777?
        7777777777777777777777777I.....I77777777777777777....... +777777777777777777777?
        777777777777777777777777I......I7777777777777777,.....7I77777777777777777777777?
        77777777777777777777777+.......+7777777777777777.....?7777777777777777777777777?
        7777777777777777777777I.........777777777777777I.....77777777777777777777777777?
        777777777777777777777I..........777777777777777I.....77777777777777777777777777?
        777777777777777777777...........777777777777777I.....77777777777777777777777777?
        777777777777777777777...........777777777777777I.....77777777777777777777777777?
        77777777777777777777............777777777777777=.....77777777777777777777777777?
        7777777777777777777I............777777777777777......77777777777777777777777777?
        7777777777777777777.............77777777777777+.....777777777777777777777777777?
        7777777777777777777.............7777777777777..... 7777777777777777777777777777?
        7777777777777777777.............77777777I7,.......77777777777777777777777777777?
        777777777777777777..............777777........~77777777777777777777777777777777?
        777777777777777777..............777777.........~7777777777777777777777777777777?
        777777777777777777..............77777777777=......I7777777777777777777777777777?
        77777777777777777I..............77777777777777 .....777777777777777777777777777?
        77777777777777777~..............777777777777777.....?77777777777777777777777777?
        7777777777777777777777777I:.....777777777777777......77777777777777777777777777?
        777777777777777777777777777.....777777777777777?.....77777777777777777777777777?
        777777777777777777777777777..0..777777777777777I.....77777777777777777777777777?
        77777777777777777777777777I.....777777777777777I.....77777777777777777777777777?
        77777777777777777777777777?.....777777777777777I.....77777777777777777777777777?
        77777777777777777777777777I..0..777777777777777I.....77777777777777777777777777?
        777777777777777777777777777 ....7777777777777777.....,7777777777777777777777777?
        777777777777777777777777777.....7777777777777777?......I77777777777777777777777?
        7777777777777777777777777?..0...777777777777777777..........,,77777777777777777?
        7777777777777777777777777......77777777777777777777?..........77777777777777777?
        77777777777777777777777777+ ..77777777777777777777777777I?~:::77777777777777777?
        7777777777777777777777777777777777777777777777777777777777777777777777777777777?
        7777777777777777777777777777777777777777777777777777777777777777777777777777777?
        .777777777777777777777777777777777777777777777777777777777777777777777777777777.
         .:77777777777777777777777777777777777777777777777777777777777777777777777777:.

                                     http://fourkitchens.com
-->
</body>
</html>
